<footer class="container-fluid">
    <p class="text-white">Desenvolvido por <a href="https://github.com/disoares" target="_blank">Diego Soares</a> -
        &copy; 2022</p>
</footer>

<script src="/res/javascript/bootstrap.bundle.min.js"></script>

{loop="$scripts"}
<script src="/res/javascript/{$value}"></script>
{/loop}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $('#hamburger').on('click', () => {
        $('.menu-services').toggle('slow');
    });
</script>
</body>

</html>