<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <meta name="author" content="{$author}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thumbify - {$title}</title>

    <link href="/res/css/bootstrap.min.css" rel="stylesheet">
    <link href="/res/css/global.css" rel="stylesheet">

    {loop="$styles"}
    <link href="/res/css/{$value}" rel="stylesheet">
    {/loop}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/res/javascript/jquery.min.js"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2057347959175754"
        crossorigin="anonymous"></script>

</head>

<body>
    <nav class="container-fluid nav-area">
        <a href="/" class="logo">
            <img src="/res/images/icons/resize.svg" alt="Logo Thumbify" />
        </a>
        <h1 class="text-center">{$title}</h1>
        <div style="position: relative;">
            <ul class="menu-services">
                <li><a href="/">Redimensionar imagem</a></li>
                <li><a href="/crop">Cortar imagem</a></li>
                <li><a href="/push-notification">Firebase Push Notification</a></li>
            </ul>
            <img src="/res/images/icons/menu.svg" alt="ícone de menu" id="hamburger" style="cursor: pointer;" />
        </div>
    </nav>