<style>
    textarea {
        resize: none;
    }

    #btn-send-push-notification {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
</style>

<section class="container col-md-6 offset-md-3 section-image-to-thumbify">
    <div class="col-md-12">
        <form id="form-push-notification" name="form-push-notification">
            <div class="form-group">
                <label for="server-key">Server Key*</label>
                <input type="text" class="form-control" id="server-key" name="server-key" placeholder="Server Key"
                    required>
            </div>
            <div class="form-group">
                <label for="device-token">Device Token*</label>
                <input type="text" class="form-control" id="device-token" name="device-token" placeholder="Device Token"
                    required>
            </div>
            <div class="form-group">
                <label for="title">Título*</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Título" required>
            </div>
            <div class="form-group">
                <label for="message">Mensagem*</label>
                <textarea rows="5" class="form-control" id="message" name="message" placeholder="Mensagem"
                    required></textarea>
            </div>
            <div class="form-group" style="display: flex; align-items: center; justify-content: center;">
                <button type="submit" class="btn btn-primary" id="btn-send-push-notification">Enviar
                    notificação</button>
            </div>
        </form>
    </div>
</section>

<section class="container col-md-8 offset-md-2">
    <article>
        <h2 class="text-center mb-4">Por quê eu preciso de imagens no tamanho correto?</h2>
        <p>
            As imagens são elementos cruciais em qualquer site, pois têm o poder de chamar a atenção dos usuários e
            transmitir informações de forma visualmente atraente. No entanto, a importância de ter imagens em tamanhos
            corretos muitas vezes é negligenciada por muitos proprietários de sites.
        </p>
        <p>
            Ter imagens em tamanhos corretos é crucial para a experiência do usuário. Imagens muito grandes ou muito
            pequenas podem comprometer a velocidade de carregamento da página e, consequentemente, a experiência do
            usuário. Quando uma página demora muito para carregar, os usuários tendem a abandoná-la e buscar outras
            opções. Isso pode levar a uma queda no tráfego do site e na conversão de vendas.
        </p>
        <p>
            Além disso, imagens em tamanhos incorretos podem ser distorcidas, pixeladas ou borradas, prejudicando a
            qualidade da imagem. Isso pode tornar o conteúdo visual menos atraente e menos profissional. Imagens de má
            qualidade podem prejudicar a reputação do site e afastar os visitantes.
        </p>
        <p>
            Outro motivo para ter imagens em tamanhos corretos é o impacto que isso tem na otimização para mecanismos de
            busca (SEO). O tamanho correto das imagens pode influenciar no tempo de carregamento da página e na
            relevância do conteúdo. Imagens que são redimensionadas para tamanhos maiores ou menores podem prejudicar a
            qualidade da imagem, bem como a classificação do site nos resultados de busca.
        </p>
        <p>
            Por fim, ter imagens em tamanhos corretos é importante para a consistência visual do site. Imagens que são
            muito grandes ou muito pequenas podem criar um layout desigual e desorganizado, o que pode afetar
            negativamente a aparência do site.
        </p>
        <p>
            Em resumo, ter imagens em tamanhos corretos é fundamental para garantir uma experiência do usuário positiva,
            a qualidade visual do site, a otimização para mecanismos de busca e a consistência visual. Portanto, é
            importante prestar atenção aos tamanhos das imagens e garantir que elas estejam otimizadas para o melhor
            desempenho possível.
        </p>
        <h2 class="text-center mt-4 mb-4">Por quê eu deveria usar o Thumbify?</h2>
        <p>
            Porque esse é o meu website <img src="/res/images/icons/mood.svg" alt="ícone mood" />
        </p>
        <p>
            Brincadeiras à parte...<br>
            Você deveria usar o Thumbify porque nós não salvamos os seus dados. Temos <strong>privacidade</strong> como
            política! Então, fique calmo e utilize o Thumbify.
        </p>
    </article>
</section>

<!-- Modal -->
<div class="modal fade" id="modal-preview" tabindex="-1" aria-labelledby="modal-previewLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-previewLabel">Pré-visualização</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"
                style="display: flex; justify-content: center; align-items: center; height: 400px; margin-top: 40px; margin-bottom: 40px;">
                <img src="" id="img-preview" style="max-height: 400px;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>